.Button {
	border-radius: 5px;
	height: var(--primary-button-height, 46px);
	font-size: inherit;
	font-family: inherit;

	text-align: center;
	transition: 300ms all;

	outline: none;
	
	&:disabled {
		filter: saturate(0.38);
		cursor: auto;
	}

	&[data-variation='normal'] {
		border: 1px solid var(--bit-bg-color, white);
		background-color: var(--bit-bg-color, white);
		color: var(--bit-accent-color, #6c5ce7);

		&:hover:not(:disabled) {
			border: 1px solid var(--bit-bg-color-highlight, white);
			background-color: var(--bit-bg-color-highlight, white);
			color: var(--bit-accent-heavy, #5d4aec);
		}
	}

	&[data-variation='ghost'] {
		border: 1px solid var(--bit-accent-color, #6c5ce7);
		background-color: var(--bit-bg-color, white);
		color: var(--bit-accent-color, #6c5ce7);

		&:hover:not(:disabled) {
			border: 1px solid var(--bit-accent-heavy, #5d4aec);
			background-color: var(--bit-bg-color-highlight, white);
			color: var(--bit-accent-heavy, #5d4aec);
		}
	}

	&[data-variation='cta'] {
		border: 1px solid var(--bit-accent-color, #6c5ce7);
		background-color: var(--bit-accent-color, #6c5ce7);
		color: var(--bit-text-on-accent, white);

		&:hover:not(:disabled) {
			border: 1px solid var(--bit-accent-heavy, #5d4aec);
			background-color: var(--bit-accent-heavy, #5d4aec);
		}
	}
}
