.xButton {
  display: inline-flex; //fix height to be a 1:1 square

  padding: 0;
  border: none;
  background: inherit;

  color: var(--bit-text-inactive, var(--bit-text-color-light));
  &:hover {
    color: var(--bit-text-color-light-highlight, var(--bit-accent-bg-heavy));
  }
}
