.xButton {
  display: inline-flex; //fix height to be a 1:1 square

  padding: 0;
  border: none;
  background: inherit;

  transition: color 80ms;
  color: var(--bit-text-inactive, var(--bit-text-color-light, #babec9));
  &.interactive {
    cursor: pointer;
    
    &:hover {
      color: var(--bit-text-color-heavy, #2b2b2b);
    }
  }
}
